.DS_Store
.build/
.swiftpm/
Packages/
DerivedData/
.idea/
.vscode/
xcuserdata/
.xcuserdatad/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.log
*.swp
*.swo
*.mode1v3
*.mode2v3
*.perspectivev3
.netrc
